body {
    font-family: 'Lora', Georgia, serif;
}

header.abertura {
    width: 100%
}

header img.logo-tt {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20px;
}

header img.abertura {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    object-fit: cover;
    filter: blur(5px);
}

header div.sobre-imagem {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 680px;
}

header div.sobre-imagem h1 {
    font-size: 4rem;
    margin: 0;
    line-height: 1.2;
    color: #f2ac29;
}

header div.sobre-imagem h2 {
    font-weight: normal;
    color: ghostwhite;
    margin: 1em 0;
}

header div.sobre-imagem p {
    font-weight: normal;
    color: white;
}

section.content {
    color: rgb(59,55,52);
    padding: 0 15px 15px 15px;
    max-width: 680px;
    font-size: 18px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}

section.content h2 {
    margin-top: 2em;
    color: #718c35;
}

section.content figure.plot-container {
    margin: 0;
}

section.content figure.plot-container img.plot, img.plot {
    display: block;
    width: 100%;
    margin: auto;
}

section.content figure.plot-container h3.plot-title {
    border-left: 5px solid goldenrod;
    padding-left: 20px;
    font-size: 18px;
    color: #444;
}

section.content video {
    width: 100%;
}

section.destaque {
    background-color: #333;
    color: lightcoral;
    padding: 10px;
}

section.destaque p {
    margin: auto;
    max-width: 680px;
}

@media (max-width: 600px){
    header div.sobre-imagem {
        position: absolute;
        bottom: 5%;
        left: 5%;
        transform: unset;
        width: unset;
    }

    header div.sobre-imagem h1 {
        font-size: 2.5rem;
        margin: 0;
        line-height: 1.2;
        color: #f2ac29;
    }

    header div.sobre-imagem h2 {
        font-size: 1.5rem;
    }

    section.content {
        font-size: 16px;
    }


}
